<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ScaleSmooth.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ScaleSmooth.Properties.Settings>
            <setting name="location" serializeAs="String">
                <value>777, 777</value>
            </setting>
            <setting name="method" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="gpu" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="scale" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="channels" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="accuracy" serializeAs="String">
                <value>42</value>
            </setting>
            <setting name="sound" serializeAs="String">
                <value>True</value>
            </setting>
        </ScaleSmooth.Properties.Settings>
    </userSettings>
</configuration>